<!DOCTYPE html>
<html>

<head>
    <title>Challenge</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <!-- use different css for profile, just to keep things separate, but later -->
    <link href="../css/challenges.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>

<!-- BODY CODE -->
<div class="container">
    <a href = "/home"id="return"><i class="glyphicon glyphicon-chevron-left"></i>Back</a></a>
    <div id="challengeInfo" align="center">
      <div id="challengeTask">
        <h2 id="{{challenge.id}}">{{challenge.task}}</h2>
      </div>
      <hr/>
      {{#if challenge.deadline}}
        <div class="challengeDetails" id="deadlineOn">
          <h4>Deadline: <span id="challengeDate">{{challenge.date}}</span>
            <br/>
            <span id="challengeTime">{{challenge.time}}</span>
          </h4>
          <div id="clockdiv">
            <div>
              <span class="days"></span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="challengeDetails" id="deadlineOff">
          <h3>Deadline: None</h3>
        </div>
      {{/if}}

      <hr/>

    </div>
    <div id="battle" align="center">
        <img id="userSkin" src="{{user.avatarURL}}" /> <b>VS.</b> <img id="friendSkin" src="{{friend.avatarURL}}" />
        <h4>{{user.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{friend.name}}</h4>
    </div>

    <hr />

    <div id="" align="center">
      <button type="button" class="btn btn-success" id="done">Finish Challenge</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" id="leave">Leave Challenge</button>
    </div>


</div>

<!-- NAGIVATION: FOOTER -->
<div id="footer">
    <div class="navbar navbar-default col-xs-12 navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-3 text-center"><a href="/home"><i class="glyphicon glyphicon-home"></i><br>Home</a></div>
            <div class="col-xs-3 text-center"><a href="/friends"><i class="glyphicon
          glyphicon-th-list"></i><br>Friends</a></div>
            <div class="col-xs-3 text-center"><a href="/myprofile"><i class="glyphicon
          glyphicon-user"></i><br>Profile</a></div>
            <div class="col-xs-3 text-center"><a href="/inbox"><i class="glyphicon
          glyphicon-envelope"></i><br>Inbox</a></div>
        </div>
    </div>
</div>
<!-- END NAVIGATION: FOOTER -->

<!-- END BODY CODE -->
<!-- Make a different javascript file for this in the future -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../js/challenges.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>