<!DOCTYPE html>
<html>

  <head>
    {{> homeExperiment}}
    <title>TATER TASKS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/placeholders/locked.png"/>

    <!-- CSS -->
    <!-- use different css for profile, just to keep things separate, but later -->
    <link href="../css/myprofile.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrapMobile.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body>

    <!-- BODY CODE -->
    <div class="container">
        <a href="/friends" id="return"><i class="glyphicon glyphicon-chevron-left"></i>Back</a>
      <div class="own-profile">
        <div align="center">
          <img src={{avatarURL}} width="125" /> <br/>
        </div>
          <hr/>
        <div class="profile">
          <div align="center">
            <h3>{{name}}</h3>
            <h4>Points: {{points}}</h4>
          </div>
        <div class="">
          <h5 id="friendWin">Wins: {{wins}}</h5>
          <h5 id="friendLoss">Losses: {{losses}}</h5>
          <h5 id="friendTies">Ties: {{ties}}</h5>
        </div>
      </div>
      <hr/> 
      <h2 align="center">Challenge your friend to one of their tasks below!</h2>
      <div class="list-frame">
      <ul class="list-group" id="tasklist">

        {{#each tasks}}
        <a href="#">
          <li class="list-group-item" id="{{id}}">
            <h4 class="list-group-item-heading">
              <input type="radio" name="friendTask" value={{name}}/> {{name}}
            </h4>
            <p>Deadline: {{date}}, {{time}}</p>
          </li>
        </a>  
        {{/each}}
      </ul>
    </div>
    <div align = "center">

      <a href='/home'><button type="button" class="btn btn-primary" onclick="alert('Challenge Sent! Waiting on reply ' +
     'from friend.')" id="challengeBTN">Send Challenge</button></a>
    </div>
    </div>
   </div>


        <!-- NAGIVATION: FOOTER -->
        <div id="footer">
            <div class="navbar navbar-default col-xs-12 navbar-fixed-bottom">
                <div class="row" id="bottomNav">
                    <div class="col-xs-3 text-center"><a href="/home"><i class="glyphicon glyphicon-home"></i><br>Home</a></div>
                    <div class="col-xs-3 text-center"><a href="/friends"><i class="glyphicon
          glyphicon-th-list"></i><br>Friends</a></div>
                    <div class="col-xs-3 text-center"><a href="/myprofile"><i class="glyphicon
          glyphicon-user"></i><br>Profile</a></div>
                    <div class="col-xs-3 text-center"><a href="/inbox"><i class="glyphicon
          glyphicon-envelope"></i><br>Inbox</a></div>
                </div>
            </div>
        </div>
        <!-- END NAVIGATION: FOOTER -->
    <!-- Make a different javascript file for this in the future -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="js/home.js"></script>
    {{> googleAnalytics}}
</body>
</html>