<!DOCTYPE html>
<html>

<head>
    <title>TATER TASKS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/placeholders/locked.png"/>

    <!-- CSS -->
    <!-- use different css for profile, just to keep things separate, but later -->
    <link href="css/myprofile.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrapMobile.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>

<!-- BODY CODE -->
<div class="container">
  <div align="right">
    <button type="button" class="btn btn-danger btn-xs" id="logOut">Logout</button>
  </div>
  <div class="own-profile">
    {{#each user}}
        <div align="center">
            <img id="avatar" src={{avatarURL}} width="125" />
            <br/>
            <a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>

        </div>
            <hr/>
        <div class="profile">
            <div align="center">
              <h3 id="userName">{{username}}</h3>
              <h4 id="userPoints">Points: {{points}}</h4>
            </div>

          <div id="userTrack">
            <h5 id="userWin">Wins: {{wins}}</h5>
            <h5 id="userLose">Losses: {{losses}}</h5>
            <h5 id="userTie">Ties: {{ties}}</h5>
          </div>
        </div>
    </div>
    {{/each}}
    <hr />
    <div class="closet">
        <div align="center">
            <h3>Potato Skins</h3>
            <h5>Collect points to unlock new skins for your potato companion!</h5>

            <div class="potatoskins" data-toggle="modal" data-backdrop="static" data-target="#skinModal">
                {{#each potatoskins}}
                    <a title="{{blurb}}" onmousedown="showDetails(this)">
                        <img class="{{status}}" id="skin{{id}}" src="{{URL}}" alt="{{name}}/{{cost}}"/>
                    </a>
                {{/each}}
            </div>
        </div>

    </div>
</div>


<!-- MODAL TO VIEW AND CHANGE SKINS -->
<div id="skinModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- MODAL body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <br />
                <div align="center">
                    <img id="avatarImg" width="150" src=""/>
                    <h4 id="avatarName">NAME</h4>
                    <hr />
                    <p id="avatarDescription">Description.</p>
                    <h5 id="avatarCost">Worth.</h5>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="skinEnter">Use</button>
                <button type="button" class="btn btn-primary" id="skinBuy">Buy</button>
                <button type="button" class="btn btn-success" id="skinBuyEnter">Buy and Use</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="skinCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- NAGIVATION: FOOTER -->
<div id="footer">
    <div class="navbar navbar-default col-xs-12 navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-3 text-center"><a href="/home"><i class="glyphicon glyphicon-home"></i><br>Home</a></div>
            <div class="col-xs-3 text-center"><a href="/friends"><i class="glyphicon
          glyphicon-th-list"></i><br>Friends</a></div>
            <div class="col-xs-3 text-center"><a href="/myprofile"><i class="glyphicon
          glyphicon-user"></i><br>Profile</a></div>
            <div class="col-xs-3 text-center"><a href="/inbox"><i class="glyphicon
          glyphicon-envelope"></i><br>Inbox</a></div>
        </div>
    </div>
</div>
<!-- END NAVIGATION: FOOTER -->
<!-- END BODY CODE -->
<!-- Make a different javascript file for this in the future -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/myprofile.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>